language: julia
os:
  - linux
  - osx
julia:
  - 0.7
  - 1.0
  - nightly
matrix:
 allow_failures:
 - julia: nightly
branches:
  except:
  - development
notifications:
  email: false
after_success:
  - julia -e 'cd(Pkg.dir("Microeconometrics")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
  - julia -e 'cd(Pkg.dir("Microeconometrics")); Pkg.add("Documenter"); include(joinpath("docs", "make.jl"))'
